{% extends "::base.html.twig" %}

{% block title %}AppBundle:Post:details{% endblock %}

{% block body %}
    <h1>Welcome to the Post:details page</h1>

    <h1>
        l'id saisi est : {{ id }}
    </h1>
{% endblock %}
